@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header-overlay {
  background-color: #43a57e;
}

.header {
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 768px) {
  .mobile-nav__link {
    font-size: 10px !important;
    margin-bottom: 10px !important;
  }
  .nav-container {
    padding-left: 17px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .mobile-nav__item {
    margin-bottom: 10px !important;
  }
  .mobile-nav__title {
    font-size: 15px !important;
    margin-bottom: 20px !important;
  }
}

.logo {
  font-size: 27px;
  font-weight: 800;
  color: #292727;
}

/* ------------ Desktop navigation ----------- */
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 1200px) {
  .nav {
    display: none;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #292727;
}

.nav__link:hover {
  color: #C6FFD7;
}

/* --------------- Mobile navigation button ----------- */
.menu-icon {
  z-index: 19;
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 1200px) {
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-icon-line {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon-line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}

.menu-icon.menu-icon-active .menu-icon-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active .menu-icon-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

/* ----------------- Мобильная навигация ----------------- */
.mobile-nav {
  z-index: 9;
  display: block;
  position: absolute;
  right: -350px;
  top: 0;
  height: 100%;
  width: 350px;
  padding: 50px;
  background-color: rgba(11, 92, 65, 0.7);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  transition: -webkit-transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
}

/* Условие для экранов с шириной от 0 до 1200px */
@media (max-width: 768px) {
  .mobile-nav {
    width: 320px;
    right: -320px;
  }
}

.mobile-nav--active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.mobile-nav__title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #f6d142;
}

.mobile-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin-bottom: 30px;
}

.mobile-nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
}

.mobile-nav__link:hover {
  color: #C6FFD7;
}

.home {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.home ::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.homevideo {
  padding-bottom: 56.25%;
}

.home video {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.homecontent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
}

.homecontent h1 {
  font-size: 5vw;
  margin: 0 0 15px;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
}

.homecontent p {
  text-align: center;
  font-size: 2vw;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

section#company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#company h1 {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
  font-size: 2.9vw;
  font-family: "Montserrat", sans-serif;
  color: #444;
}

section#company .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section#company .about .img {
  width: 30%;
}

section#company .about .img :hover {
  -webkit-box-shadow: -10px -10px 16px 16px #555;
          box-shadow: -10px -10px 16px 16px #555;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section#company .about .img img {
  border-radius: 50%;
  width: 100%;
}

section#company .about .text {
  width: 40%;
  margin-left: 5vw;
  font-size: 1.7vw;
  font-family: "Montserrat", sans-serif;
  color: #444;
}

.main {
  text-align: center;
  font-size: 1.7vw;
  font-family: "Montserrat", sans-serif;
  color: #444;
}

.rounded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  counter-reset: li;
  list-style: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

@media (max-width: 1200px) {
  .rounded {
    margin: 0;
    padding: 0;
  }
  .rounded .li {
    width: 100%;
  }
}

.rounded li {
  width: 30%;
  margin-bottom: 20px;
}

.rounded a {
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #DAD2CA;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.rounded a:hover {
  background: #E9E4E0;
}

.rounded a:hover:before {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8FD4C1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
/*# sourceMappingURL=style.css.map */